{% extends 'base.html.twig' %}

{% block title %}Hello CompteProController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .actions { margin-top: 1rem; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/ProjetAkwa/src/Controller/CompteProController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/ProjetAkwa/templates/compte_pro/index.html.twig</code></li>
    </ul>

    <div class="actions">
        <a class="btn btn-primary" href="{{ path('app_accueil') }}">Aller à l'accueil</a>
    </div>
</div>
{% endblock %}
