{% extends "base.html.twig" %}

{% block body %}
    <a href="{{ path ('app_register', {'type' : 'pro'}) }}">Pro</a>
    <a href="{{ path ('app_register', {'type' : 'client'}) }}">Client</a>

{% endblock %}