{% extends 'base.html.twig'%}

{% block body %}
    voici la liste de photo :
    {{dump (photos)}}

    <ul>
    {% for photo in photos %}
    <li>{{photo.auteur}}</li>
    {% endfor %}
    </ul>

{% endblock %}