body{
    background-color: #e1d8e9;

}
h1{
    color: rgb(0, 0, 0);
}

#image{
    display: none;
}

.custom-label {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    font-size: 10px;
    
}

#main{
    
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    
}

#main img{  
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.containerPhoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: rgb(189, 156, 225);
    padding: 1rem;
}
.Photo{
    width:   17rem;
    height: 5rem;
    padding: 20px;
    background-color: white;
 
}
    



