

    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: sans-serif;
        background-color: #6c60f1d2;
    }
    
  
    #logo {
        width: 70rem;
        opacity: 0;
        transform: scale(0.5);
        animation: logoAnim 2s ease-out forwards;
    }
    
    @keyframes logoAnim {
        to {
        opacity: 1;
        transform: scale(1);
        }
    }
    
    .buttons {
        margin-top: 30px;
        opacity: 1;
        transition: opacity 1s ease-in;
    }
    
    .buttons.show {
        opacity: 1;
    }
    
    .buttons button {
        margin: 10px;
        padding: 12px 24px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .btn-inscrire {
        background-color: #eddeef;
        color: white;
        
    }
    
    .btn-connecter {
        background-color:#eddeef ;

        
    }
    
    a{
        color:  rgb(200, 101, 222);
        text-decoration: none;
        
    }
    a:hover{
        color: #0c5288;
    }